@import url('https://fonts.cdnfonts.com/css/valorax');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Goldman, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #a8ff35;
}